*
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;

    box-sizing: border-box;
}

h1
{
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2
{
    font-size: x-large;
}
h3
{
    font-size: large;
}

a
{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

button
{
    width: 250px;
}

.large
{
    font-size: xx-large;
}

.background
{
    background-color: whitesmoke;
    width: 375px;
}

.bckBtn
{
    background-color: orangered;
    color: black;
    align-self: auto;
    width: 375px;
}

.noMargin
{
    padding: 0px;
    margin: 0px;
}

.content
{
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 0px;
}

.outline
{
    outline: 2.5px solid black;
}